@import '~bootstrap/scss/bootstrap';
@import 'theme';

//
// .update-restaurant-form {
//   display: none;
// }

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.card {
  justify-content: center;
  margin: auto;
}

// .navbar-toggler {
//   display: flex;
//   align-items: right;
//   justify-content: right;
// }
// ]
